body {
    background-color: black;
}
.wrapper{
    height: 100%;
    display: grid;
    
}
.container {
    display: grid;
    grid-template-rows: 80px 80px;
    grid-template-rows: 1fr;
    width: fit-content;
    margin: 0 auto;
    gap: 10px;
}
.g1 {
    background-color: blueviolet;
    width: 300px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.g2 {
    background-color: burlywood;
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 150px;
    height: 150px;
}
.g3 {
    background-color: pink;
    width: 200px;
    
    grid-column: 1/1 ;
    grid-row: 3/ span 6;
    
}
.g4 {
    background-color: skyblue;
    grid-row: 3/ span 3;
    grid-column: 2/ span 2 ;
    height: 70px;
}
.g5 {
    background-color:skyblue;
    grid-row: 6 / span 3;
    grid-column: 2/ span 2 ;
    height: 90px;
}