.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80px 80px;
    gap: 5px;
}

.g1 {
    background-color: blueviolet;
    grid-column: 1 / 2;
}
.g2 {
    background-color: red;
   
}
.g3 {
    background-color: pink;
    
}
.g4 {
    background-color: purple;
   
    
}
.g5 {
    background-color: yellowgreen;
    grid-column-start: 2;
    grid-column-end: 3;
}